* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: hsl(0, 3%, 31%);
}

img {
    max-width: 100%;
    height: auto;
}

p {
    letter-spacing: 1px;
    line-height: 1.3;
}