.generic-content-container {
   
    
    p {
    font-weight: 300;
    line-height: 1.65;
    margin: .7rem 0 1em;
        

        @mixin atSmall {
            font-size: 1.1rem;
            max-width: 700px;
            padding-right: .5em;
        }

        @mixin atMedium {
            font-size: 1.125rem;
            max-width: 900px;
            
        
        }

    }

    p a {
        font-weight: 700;
        
    }
}



.our-beginning {
   max-width: 1250px;
   width: 100%;
   


    @mixin atSmall {
        padding-top: 1.3em;
        padding-bottom: 2.3em;
        
        
    }

    @mixin atMedium {
       
    }

    @mixin atLarge {
             
    }

}

