.generic-content-container {
    
    h2,
    p {
        padding-left: 1.2em;
       
    }
    
    p {
        font-weight: 300;
        line-height: 1.35;
        margin: .3em 4em 1.8rem 0px;
        

        @mixin atSmall {
            font-size: 1.125rem;
            
        }
    }

    p a {
        font-weight: 700;
        
    }
}

.our-beginning {
    max-width: 54em;
    width: 100%;
    

    @mixin atSmall {
        margin: 1em;
    }

    @mixin atMedium {
        margin: 2em;
    }


}

