.large-hero {
        background-image: linear-gradient(
        -90deg,
        hsla(180, 5%, 31%, 0.932),
        hsla(200, 6%, 10%, 0.842)80%); 
        display: grid;
       padding: 1.5em 0;

    @mixin atSmall {
        padding-left:2.3em;
       
    }

    @mixin atMedium {
        padding-left: 7.75em;
       
  }

  @mixin atLarge {
    padding-left: 9.75em;
  }

    &__text-content {
        align-self: left;
        grid-column: 1;
        grid-row: 1;
        text-align: left;
        
    }

    @mixin atSmall {
       padding-bottom: 2em;
      
    }

    @mixin atMedium {
       padding-bottom: 2.1em;
     
  }

    @mixin atLarge {
      
  }

    &__title {
        color: $mainWhite;
        font-size: 1.399rem;
        font-weight: 700;
        margin: 0;
        max-width: 21em;
        padding: .3em .1em .375em 0em;


      @mixin atSmall {
          font-size: 1.755rem;
          letter-spacing: 1px;
      }

      @mixin atMedium {
        font-size: 1.866rem;
        letter-spacing: 1px;
    }

    }  

   

    &__description {
        color: $mainWhite;
        font-size: 1.1rem;
        font-weight: 100;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
        max-width: 21rem;
        margin-left: 0;
        padding-right: 2em;

        @mixin atSmall {
            font-size: 1.5rem;
            max-width: 25rem;
            padding-right: .2em;
        }
  
        @mixin atMedium {
          font-size: 1.6rem;
          max-width: 35rem;
          padding-right: .1em;
          
      }
  
      @mixin atLarge {
          font-size: 1.6rem;
          max-width: 37rem;
          padding-right: .2em;
      }
    }

}

.large-hero__text-content {
      @mixin atSmall  {
        padding-right: 1.5em;
        padding-left: 2em;
        max-width: 565px; 
      }

      @mixin atMedium  {
        padding-right: 1.5em;
        padding-left: 6em;
        max-width: 565px; 
      }

      @mixin atLarge  {
    
        padding-left: 8em;
        max-width: 600px; 
      }
}





