.large-hero {
    background-image: linear-gradient(
        -25deg,
        hsla(84, 8%, 12%, 0.808) 2%,
        hsla(0, 0%, 0%, 0.952));
    border-top: 2px solid hsla(0, 0%, 0%, 0.952);
    display: grid;
    padding: 1.2em;

    @mixin atSmall {
        padding: 2.75em;
       
    }

    @mixin atMedium {
        padding: 4.75em
       
  }

  @mixin atLarge {
    padding: 5em;
  }

    &__text-content {
        align-self: center;
        grid-column: 1;
        grid-row: 1;
        text-align: left;
        
    }

    @mixin atSmall {
       padding-bottom: 2em;
      
    }

    @mixin atMedium {
       padding-bottom: 2.1em;
     
  }

    @mixin atLarge {
      
  }

    &__title {
        color: $mainWhite;
        font-size: 1.699rem;
        font-weight: 700;
        margin: 0;
        max-width: 21em;
        padding: .3em .5em .375em 0em;


      @mixin atSmall {
          font-size: 1.9rem;
          letter-spacing: 1px;
      }

      @mixin atMedium {
        font-size: 2.211rem;
        letter-spacing: 1px;
    }

    @mixin atLarge {
        font-size: 2.7rem;
        
    }

    }

    &__description {
        color: $mainWhite;
        font-size: 1.3rem;
        font-weight: 100;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
        max-width: 21rem;
        margin-left: 0;
        padding-right: 2em;

        @mixin atSmall {
            font-size: 1.5rem;
            max-width: 25rem;
            padding-right: 3.2em;
        }
  
        @mixin atMedium {
          font-size: 1.7rem;
          max-width: 35rem;
          padding-right: 4em;
          
      }
  
      @mixin atLarge {
          font-size: 1.9rem;
          max-width: 37rem;
          padding-right: 2.5em;
      }
    }

}

.large-hero__text-content {
      @mixin atMedium  {
        padding-right: 1.5em;
        padding-left: 7em;
        max-width: 565px; 
      }

      @mixin atLarge  {
    
        padding-left: 12em;
        max-width: 600px; 
      }
}





