.large-hero {
    background-image: linear-gradient(
        -45deg,
        hsla(180, 55%, 39%, 0.692) 7%,
        hsla(212, 44%, 41%, 0.856)
      );
    padding: 1.875em;
    height: 45vh;

    @mixin atSmall {
        padding: 4.25em
       
    }

    @mixin atMedium {
        padding: 4.75em
       
  }

  @mixin atLarge {
    padding: 5em
  }

    &__text-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        text-align: center;
    }

    @mixin atSmall {
        top: 50%;
        transform: translateY(-25%);
    }

    @mixin atMedium {
        height: 77vh;
  }

  @mixin atLarge {
        height: 85vh;
  }

    &__title {
        color: $mainWhite;
        font-size: 1.9rem;
        font-weight: 700;
        margin: 0;

      @mixin atSmall {
          font-size: 2.3rem;
      }

      @mixin atMedium {
        font-size: 3.1rem;
    }

    @mixin atLarge {
        font-size: 4.3rem;
    }

    }

    &__description {
        color: $mainWhite;
        font-size: 1.1rem;
        font-weight: 100;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
        max-width: 25rem;
        margin-left: auto;
        margin-right: auto;

        @mixin atSmall {
            font-size: 1.3rem;
        }
  
        @mixin atMedium {
          font-size: 1.5rem;
      }
  
      @mixin atLarge {
          font-size: 1.7rem;
      }
    }

}






