.large-hero {
        background-image: linear-gradient(
        -90deg,
        hsla(196, 12%, 30%, 0.932),
        hsla(200, 6%, 10%, 0.842)80%); 
        display: grid;
        padding: 1.5em 0;
        width: 100%;

    @mixin atSmall {
        padding-left: .3em;
       
    }

    @mixin atMedium {
        padding-left: .75em;
       
       
  }

  @mixin atLarge {
   
  }

    &__text-content {
        align-self: left;
        grid-column: 1;
        grid-row: 1;
        text-align: left;
        padding-left: 2.9em;
    }

    @mixin atSmall {
      
      
    }

    @mixin atMedium {
       
     
  }

    @mixin atLarge {
      
  }

    &__title {
        color: $mainWhite;
        font-size: 1.375rem;
        font-weight: 700;
        margin: 0;
        max-width: 21em;
        padding:0px 0;
         
      @mixin atSmall {
        padding-top: 40px;
        padding-left: 10px;
        font-size: 1.575rem;
        letter-spacing: 1px;
      }

      @mixin atMedium {
        font-size: 1.722rem;
        letter-spacing: 1px;
        padding-left: 3px;
    }

      @mixin atLarge {
      font-size: 1.9rem;
      letter-spacing: 1px;
      padding-left: 3px;
  }

    }  

    &__sub-entry {
      color: $mainWhite;

      @mixin atSmall {
        padding-left: 9px;
      }

      @mixin atMedium {
        padding-left: 3px;
      }

    }
   

    &__description {
        color: $mainWhite;
        font-weight: 100;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
        max-width: 21rem;
        margin-left: 0;
        padding-right: 2em;

        @mixin atSmall {
            font-size: 4.5rem;
            max-width: 25rem;
            padding-right: .2em;
        }
  
        @mixin atMedium {
          font-size: 1.6rem;
          max-width: 35rem;
          padding-right: .1em;
          
      }
  
      @mixin atLarge {
          font-size: 1.6rem;
          max-width: 37rem;
          padding-right: .2em;
      }
    }
  
}

&__text-content {
      @mixin atSmall  {
        padding-right: 1.5em;
        padding-left: .2em;
        max-width: 600px; 
      }

      @mixin atMedium  {
        padding-right: 1.5em;
        padding-left: 2em;
        max-width: 650px; 
      }

      @mixin atLarge  {
    
        padding-left: 12.7em;
        max-width: 900px; 
      }
}





